/* justify-content: space-around;
Divide os elementos dentro do container em espaços iguais incluindo parede do contener. */
.space-around {
	justify-content: space-around;
}

/* justify-content: space-between;
Divide os elementos dentro do container em espaços iguais, levando em conta somente os elementos. */
.space-between {
	justify-content: space-between;
}

/*  justify-content: center;
Alinha os itens ao centro do container. */
.center {
	justify-content: center;
}

/* justify-content: flex-start;
Alinha os itens ao início do container. */
.flex-start {
	justify-content: flex-start;
}

/* justify-content: flex-end;
Alinha os itens ao final do container */
.flex-end{
	justify-content: flex-end;
}

/* CAIXA */
.flex-container {
    display: flex;
    background-color: DodgerBlue;
    max-width: 500px;
    margin: 0 auto; /* margem */
    
}

/* style */
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

body {
    text-align: center;
    background: rgb(77, 156, 146);
}

.caixa {
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid #ccc;
	background: rgb(255, 255, 255);
}

/* 
Aninhamento:
.classe-inventada div { ... estilo ... }
Selecionará toda e qualquer div dentro de todo e qualquer elemento com classe classe-inventada.

Aninhamento de um nível:
.classe-inventada > div { ... estilo ... }
Selecionará toda e qualquer div diretamente dentro de todo e qualquer > elemento com classe classe-inventada.

Múltiplos seletores, um estilo:
.classe-inventada, div { ... estilo ... }
Selecionará todas as div e todos os elementos com class="classe-inventada"
*/
