 /* Centralizar o formulário na pagina */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
  
form div + div {
  margin-top: 1em;
}
  
/* tamanho dos rótulos */
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
  
/* configuração campos de texto */
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
  
/* cor do texto */
input:focus, textarea:focus {
  border-color: #000;
}
  
/* alinhar texto */
textarea {
  vertical-align: top;
  height: 5em;
}

/* posição do botõe */
.button {
  padding-left: 90px;
}
  
button {
  margin-left: .5em;
}

body {
  background-image: linear-gradient(90deg, #080075, #00eeff);
}