/* Grid */
.grid {
	display: grid;	
}

.aside {
	grid-area: aside;
	border-radius: 1em;
}

.header {
	grid-area: header;
	border-radius: 1em;
}

.main {
	grid-area: main;
	border-radius: 1em;
	align-items: center;
}

.section {
	grid-area: section;
	border-radius: 1em;
}

.footer {
	grid-area: footer;
	border-radius: 1em;
}

.article {
	grid-area: article;
	display: none;
}

.grid-template-areas {
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	grid-template-rows: 15fr 35fr 50fr;
	grid-template-areas:
		"aside header header"
		"aside main footer"
		"aside section footer"
		;
}

.centro {
	align-items: center;
  }


/* Grid Item */
.item {
	margin: 10px;
	background: rgb(205, 203, 216);
}

/* FlexBox */
.flex {
	display: flex;
}

.flexLinha {
	justify-content: flex-start;
	align-items: center;
	color: blue;
	text-decoration: none
}

.flexColuna {
	flex-direction: column;
	align-items: center;
}

/* Ajuste texto */
.texCentro {
	text-align: center;	
	font-size: 1.3em;

}

.texStyle {
	color: blue;
	font-family: Arial;
	background: rgb(255, 255, 255);
	font-size: 0.75em;

}

.texJustificado {
	text-align: justify;
}

.texDireita {
	text-align: left;
}

/* style */

h1 {
	text-align: center;
	font-size: 1.75em;
	font-weight: normal;
}

h2 {
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
}

body {
	font-family: Arial;
	color: black;
	margin: 0px;
	background-image: linear-gradient(90deg, #080075, #00eeff);
}

/* Responsividade */
@media only screen and (max-width: 909px){
	.grid-template-areas {
		margin: 0;
		justify-content: center;
		grid-template-columns: 350px;
		grid-template-rows: 1fr;
		grid-template-areas: "aside" "main" "section" "footer";

	}

	.header {
		grid-area: header;
		border-radius: 1em;
		display: none;
	}


}